.homepage img{
  width: 100px;
}

html,
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-color: skyblue;
}

.logo{
  height: 100px;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}

#logo-image{

  width:400px;
}

.tabs{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tabs button{
  background-color: lightcoral;
  width: 100%;
  border-style: none;
  border:  1px solid skyblue;;
  height: 100px;
  border-radius: 0px;
  font-size: 32px;
}

.tabs button.selected{
  background-color: orange;
}

.menu-item{
  background-color: white;
  width: 300px;
  height: 150px;
  border: 2px solid black;
  display: grid;
  gap: 8px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  padding: 12px;
  margin: 8px;
}

.item-name{
  grid-row: 1/1;
  grid-column: 1/1;
  font-weight: bold;
}

.item-desc{
  grid-row: 2/2;
  grid-column: 1/1;
}

.item-price{
  grid-row: 1/1;
  grid-column: 2/2;
  text-align: right;
}

.item-image{
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100px;

}

.page-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

